body {
    margin: 0;
    background: linear-gradient(270deg, #e85069, #735d9f, #51a0e3);
    background-size: 200% 200%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    overflow: hidden;
}

h1 {
    font-size: max(70px,9.55vw);
}

h1 > span {
    -webkit-text-fill-color: initial;
}

.name {
    font-family: "Indie Flower", cursive;
    font-weight: 700;
    font-style: normal;
    position: relative;
    padding: 0px;
    max-width: fit-content;
    background: -webkit-linear-gradient(#dbdad0, #a7a7a7, #dbdad0);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: fadeIn 5s ,AnimationName 10s ease infinite;
}

img {
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
    filter: brightness(65%);
    animation: fadeIn 5s;
}

h2 {
    font-size: max(20px, 2.8vw);
}

.menu {
    text-align: right;
    font-family: "Indie Flower", cursive;
    font-weight: 500;
    font-style: normal;
    position: absolute;
    top: 38px;
    right: 8%;
    background: -webkit-linear-gradient(#fffdfd, #cdc9c9, #fefefe);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 5s;
    word-spacing: 4vw;
}

.wave {
    animation-name: wave-animation;  
    animation-duration: 2s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;      
    display: inline-block;
  }

.get_in_touch {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    position: fixed;
    background: -webkit-linear-gradient(#fffdfd, #cdc9c9, #fefefe);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 5s;
}

.vertical-line {
    position: fixed;
    animation: fadeIn 5s;
}


contact_headline {
    font-size: max(4.345vw,30px);
    letter-spacing: 3px;
}

links {
    font-size: max(1.58vw,15px);
}

.spacing {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    word-spacing: 5.88vw;
}

.cat {
    position: fixed;
    filter: brightness(150%);
    animation: fadeIn 5s;
    padding-left: 0;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
}



/* ----------------------------------Multi-device settings---------------------------------- */



@media (max-width: 480px) {
    .name {
        margin-left: max(60px,16vw);
        margin-top: 25%;
    }
    .vertical-line {
        bottom: 50%;
        border-top: 1px solid black;
        left: 20%;
        right: 20%;
    }
    .cat {
        left: 15%;
        bottom: 15%;
    }
    .get_in_touch {
        margin-left: 25%;
        top: 20%;
    }
}
@media (min-width: 481px) and (max-width: 640px) {
    .name {
        margin-left: max(60px,16vw);
        margin-top: 0;
    }
    .vertical-line {
        bottom: 50%;
        border-top: 1px solid black;
        left: 25%;
        right: 25%;
    }
    .cat {
        left: 25%;
        bottom: 10%;
    }
    .get_in_touch {
        margin-left: 30%;
        top: 20%;
    }
}
@media (min-width:641px) and (max-width:960px) {
    .name {
        margin-left: max(60px,16vw);
        margin-top: -5%;
    }
    .vertical-line {
        left: 50%;
        border-left: 1px solid black;
        top: 25%;
        bottom: 25%;
    }
    .cat {
        left: 60%;
        bottom: 35%
    }
    .get_in_touch {
        left: 12%;
        top: 35%;
    }
}
@media (min-width: 961px) {
    .name {
        margin-left: max(60px,16vw);
        margin-top: -7.8%;
    }
    .vertical-line {
        left: 50%;
        border-left: 1px solid black;
        top: 25%;
        bottom: 25%;
    }
    .cat {
        left: 60%;
        bottom: 25%
    }
    .get_in_touch {
        left: 12%;
        top: 35%;
    }
} 